{% extends 'base.html' %}
{% block content %}
<div id="trending" class="row">
    <!-- 只顯示相框和資訊 -->
    {% for movie in movielist %}
        <div class="col-md-3">
            <div class="card">
                <!-- 圖片和簡要資訊相框 -->
                <a href="/movie/{{ movie.id }}">
                    <img src="{{ movie.img_src }}" class="card-img-top" alt="{{ movie.title }}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <p class="card-text">{{ movie.release_date }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}


