<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            table, th, td {
              border:1px solid black;
            }
        </style>
    </head>
    <body>
        {% if user %}
        <h1>你好 {{ user }}</h1> 
        <a href="/logout">登出</a>
        <a href="/favorite">我的最愛</a>
        {% else %}
        <h1>您尚未登入</h1>
        <a href="/login">登入</a>
        <a href="/register">註冊</a>
        
        {% endif %}
        
    <!-- 這裡放測試電影資料 -->
    {% if movielist %}
    <table>
        <tr>
            <th>電影</th>
            <th></th>
            
            
        </tr>
        {% for movie in movielist %}
            
            <tr>
                <td>{{ movie.title }}<br>
                    {{ movie.title_en }}<br>
                    {{ movie.time }}<br>
                    {{ movie.release_date }}<br>
                    {{ movie.type }}<br>
                    {{ movie.director }}<br>
                    {{ movie.cast }}<br>
                    {{ movie.theater_name }}
                    <a href="/movie/{{ movie.id }}">連結</a>
                </td>
                <td><img src="{{ movie.img_src }}" width="400" height="400"></td>
                

                
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    </body>
</html>