{% extends 'base.html' %}
{% block content %}
<!-- <form action="/register/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    姓名:<input type="text" name="username"/><br>
    帳號:<input type="text" name="acc"/><br>
    密碼:<input type="text" name="pwd"/><br>
    email:<input type="text" name="email"/><br>
    tel:<input type="text" name="tel"/><br>
    大頭貼:<input type="file" name="user_img"/><br>
    <input type="submit" value="送出資料"/>
</form> -->
<form action="/register/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table border="1" cellspacing="1" cellpadding="4">
        <p>姓名:{{ postform.username }}</p>
        <p>帳號:{{ postform.acc }}{{ postform.errors.acc }}</p>
        <p>密碼:{{ postform.pwd }}</p>
        <p>email:{{ postform.email }}{{ postform.errors.email }}</p>
        <p>tel:{{ postform.tel }}</p>
        
        <input type="submit" value="送出資料"/> <input type="reset" value="重設"/>
    </table>

</form>

接收到的資料:{{ mess }}
{% endblock %}  