{% extends 'base.html' %}
{% block content %}
{% load static %}


<section class="timer">
    <div>
        <form action="/check_ver/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        <table>
            <tr>輸入驗證碼</tr>
            <tr>
                <td><input type="text" name="v_code"></td>
            </tr>
            <tr>
                <td><input type="submit" value='送出' id='submitBtn'>
                    <button class="emailBtn">獲取驗證信</button></td>        
            </tr>
        </table>
        </form>
        
      
      <h1 class="countdownTitle"></h1>
    
    </div>
</section>

{% endblock %}
{% block js_script %} 

<script src="{% static 'javascript/timer.js' %}">
</script>


{% endblock %}